.poem {
    width: 300px;
}

.list ul {
    display: flex;
    margin-top: 30px;
}

.list li {
    text-decoration: none;
    list-style: none;
    padding: 20px;
    border-radius: 60%;
    margin: 5px;
    cursor: pointer;
}

.purple {
    background-color: #4E3C62;
}

.blue {
    background-color: #099CDC;
}

.green {
    background-color: #52B236;
}

.orange {
    background-color: #F1702F;
}

.brown {
    background-color: #795349;
}